@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



.toggle
{
  position: relative;
  color: black; 
  top: 50px;
  
  width: 60px;
  height: 60px;
  background: url('../img/menu.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  left: 5px;
  background: url('../img/cancel\ \(1\).png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.container{
  background: rgba(255, 255, 255, 0.473);
  display: flex;
  flex-wrap: wrap;
  height: 100vh;


}
.menu{
  
  border-right: 1.5px solid rgb(235, 235, 235);
  width: 24%;
  height: 100%;
  box-shadow: 0 0px 0px 2px rgba(240, 240, 240, 0.3);
}

.menu-container{
  background: rgba(150, 174, 241, 0.274);
  width: 50%;
  border-spacing: 0;
  
}

.showcase
{
  
  position: absolute;
  top: 0%;
  right: 0%; 
  width: 100%;
  min-height: 100vh;
  padding-top: 20px;
  
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
 
  left: 260px;
  

}


.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}

.menu
{
  
  top: 0;
  left: 0;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}


.profile-title{
    font-weight: 500;
    color: #161c2d;
    font-size: 22px;
    margin: 0;
    text-align: left;
    padding-left: 30%;
}

.profile-subtitle{
    font-weight: 300;
    color: #8492a6;
    font-size: 15px;
    margin: 0;
    text-align: left;
    padding-left: 30%;
}

.logout-btn{
    position: relative;
    background: rgba(63, 241, 233, 0.767);
    margin-top: 0px;
    width: 50%;
    left: 7%;
}

.profile-container{
    border: 1.5px solid rgb(235, 235, 235);
    border-radius: 6px;
    padding-top: 12%;
    padding-bottom: 12%;
    box-shadow: 0 0 3px rgba(52,58,64,0.08);
    text-align: center;
    
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}